

*,
:before,
:after {
  box-sizing: border-box;
}

.mainLanding{
    
    display: flex;
    flex-direction: column;
}



.landingHeader{
    height: 275px;
    /* border: solid grey 1px; */
    background-image: url(https://stockx-assets.imgix.net/headers/home_2.png?auto=compress%2Cformat);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif */
    font-family: 'Cantarell', sans-serif;
    letter-spacing: 1.5px
}

.rowContainer {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-left: 15%;
    padding-right: 19%;
}

.row{
    width:1000px;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center
}
.jordanRow{
    width:1010px;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    border-top: solid 1px grey;
    
    
}

.nikeRow{
    width:1010px;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    border-top: solid 1px grey;
    
}

.adidasRow{
    width:1010px;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    border-top: solid 1px grey;
}

.carouselPics{
    height: 150px;
    
    background-color: grey
}
 
.carouselPics img{
    height: 150px;
}

.rowHeaderJ{
    width: 1010px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.rowHeaderJ img {
    height: 50px;
    width: 50px;
    margin-bottom: 1rem;
}

.rowHeaderJ p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}
.rowHeaderN{
    width: 1010px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.rowHeaderN img {
    height: 60px;
    width: 60px;

}

.rowHeaderN p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.rowHeaderA{
    width: 1010px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.rowHeaderA img {
    height: 45px;
    width: 45px;
    margin-bottom: 1rem
}

.rowHeaderA p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px
}

