.myAccountBody{
    display: flex;
    flex-direction: column;
}

.myAccountHeader{
    height:68px;
    width: 100%;
    background-color: black;
}

.myAccountMainContainer{
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    height: 90vh;
}

.myAccountSideBar{
    display: flex;
    flex-direction: column;
    /* border: solid red 1px; */
    /* width: 12.5% */
    width: 19%
}

.myAccountUserName{
    /* border: green solid 1px; */
    height: 10%;
    /* background-color: rgb(184, 182, 182); */
    background-color: rgba(165, 162, 162, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
}

.myAccountNameText{
    text-align: center;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    animation: .55s nameZoom;
}

  @keyframes nameZoom {
    0% {
        transform: scale(0);
    } 
    /* 50%{
        transform: scale(.5)
    } */
    100% {
        transform: none;
    }
  }

.myAccountSidebarLinks{
    display: flex;
    height: 90%;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: #F9F9F9;
}


.MyProfileBody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userInfoHeader{
    height: 10%;
    width: 100%;
    border-bottom: solid rgb(184, 182, 182) 1px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding-left: 40px; */
    font-family: sans-'Montserrat', sans-serif;
    font-weight: 900
}

.myProfileFlagContainer{
    height:50px;
    width:100%;
    padding-left: 100px;
    display: flex;
    flex-direction: row;
}

.myProfileFlag{
    height:50px;
    width:150px;
    /* background-color: #FA9292; */
    background: #d92b2b;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 1px;
    font-weight: 500
}

.flagTriangle {
    width: 0;
    height: 0;
    /* border-bottom: 10px solid rgb(248, 110, 110); */
    border-bottom: 10px solid rgb(177, 13, 13);
    border-left: 10px solid transparent;
    margin-top: -10px
    
}

.userInfoContainer{
    display: flex;
    
    padding-left: 260px;
    height: 400px;
    align-items: flex-start;
    flex-direction: column;
}


.userInfoContainer button{
    margin-top: 20px;
    border-radius: 20px;
    /* border: 1px solid #FF4B2B; */
    border: 1px solid rgba(165, 162, 162, 0.87);
    /* background-color: #FF4B2B; */
    background-color: rgba(165, 162, 162, 0.87);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    /* padding: 12px 45px; */
    letter-spacing: 1px;
    text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin-top: 30px;
    cursor: pointer;
    width: 80px;
    padding: 12px 15px;
    margin-right: 10px;
}

.userInfoContainer button:active {
	transform: scale(0.90);
}

.userInfoContainer button:focus {
	outline: none;
}

.userInfo{
    margin-right: 30px;
    margin-top: 70px;
    color: black;
}

.firstNameBox {
    height: 50px;
    width: 475px;
    border: 1px solid black;
    margin-top: 1rem;
    padding-left: 8px;
    position: relative
}

.firstNameBox :nth-child(1) {
    font-size: 11px;
    /* position: relative; */
    margin-top: -8px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    height: 20px;
    width: 65px;
    z-index:1000;
    background: white;
    text-align: center;
    color: black;
}

.firstNameBox :nth-child(2) {
    margin: 0 0;
    padding-left: 3px
}

.lastNameBox {
    height: 50px;
    width: 475px;
    border: 1px solid black;
    margin-top: 1rem;
    padding-left: 8px;
    position: relative
}

.lastNameBox :nth-child(1) {
    font-size: 11px;
    /* position: relative; */
    margin-top: -8px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    height: 20px;
    width: 65px;
    z-index:1000;
    background: white;
    text-align: center;
    color: black;
}

.lastNameBox :nth-child(2) {
    margin: 0 0;
    padding-left: 3px
}

.emailBox {
    height: 50px;
    width: 475px;
    border: 1px solid black;
    margin-top: 1rem;
    padding-left: 8px;
    position: relative
}

.emailBox :nth-child(1) {
    font-size: 11px;
    /* position: relative; */
    margin-top: -8px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    height: 20px;
    width: 35px;
    z-index:1000;
    background: white;
    text-align: center;
    color: black;
}

.emailBox :nth-child(2) {
    margin: 0 0;
    padding-left: 3px
}








.userInfoInput{
    margin-right: 30px;
    margin-top: 70px;
    color: black;
}

.firstNameInputBox input::placeholder{
    color: grey;
    font-style: italic
}


.firstNameInputBox input {
    font-size: inherit;
    height: 35px;
    width: 460px;
    outline: none;
    padding-bottom: 17px;
    margin-left: -10px;
    border: none;
    color: grey;
}

.firstNameInputBox {
    height: 50px;
    width: 475px;
    border: 1px dashed black;
    margin-top: 1rem;
    padding-left: 8px;
    position: relative
}

.firstNameInputBox input:focus {
    color: black;   
}

.firstNameInputBox :nth-child(1) {
    font-size: 11px;
    /* position: relative; */
    margin-top: -8px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    height: 20px;
    width: 65px;
    z-index:1000;
    background: white;
    text-align: center;
    color: black;
}

.firstNameInputBox :nth-child(2) {
    margin: 0 0;
    padding-left: 2.8px
}



.lastNameInputBox input {
    font-size: inherit;
    height: 35px;
    width: 460px;
    outline: none;
    padding-bottom: 17px;
    margin-left: -10px;
    border: none;
    color: grey;
}

.lastNameInputBox input:focus {
    color: black;   
}

.lastNameInputBox {
    height: 50px;
    width: 475px;
    border: 1px dashed black;
    margin-top: 1rem;
    padding-left: 8px;
    position: relative
}

.lastNameInputBox :nth-child(1) {
    font-size: 11px;
    /* position: relative; */
    margin-top: -8px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    height: 20px;
    width: 65px;
    z-index:1000;
    background: white;
    text-align: center;
    color: black;
}

.lastNameInputBox :nth-child(2) {
    margin: 0 0;
    padding-left: 2.8px
}




.emailInputBox input {
    font-size: inherit;
    height: 35px;
    width: 460px;
    outline: none;
    padding-bottom: 17px;
    margin-left: -10px;
    border: none;
    color: grey;
}

.emailInputBox input:focus {
    color: black;   
}

.emailInputBox {
    height: 50px;
    width: 475px;
    border: 1px dashed black;
    margin-top: 1rem;
    padding-left: 8px;
    position: relative;
    
}


.emailInputBox :nth-child(1) {
    font-size: 11px;
    /* position: relative; */
    margin-top: -8px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    height: 20px;
    width: 35px;
    z-index:1000;
    background: white;
    text-align: center;
    
}

.emailInputBox :nth-child(2) {
    margin: 0 0;
    padding-left: 2.8px
}

.esButtons {
    display: flex;
    flex: row;
}

.userInfoInput  button {
    background: #d92b2b;
}

.saveButton button {
    background: rgb(25, 164, 65);
    /* background: rgb(33, 78, 228); */
    
}























.accountFooter{
    border: solid blue 1px;
}


