.browseMainContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.browseSideBarContainer{
    width:20%;
    height: 600px;
    display: flex;
    flex-direction: column;
    background: green;
    position: sticky
}

.browseSideBarContainer button{
    width:25%;
    height: 5vh;
    display: flex;
    flex-direction: column
}

.browseHeader{
    height: 275px;
    /* border: solid grey 1px; */
    background-image: url(https://stockx-assets.imgix.net/headers/home_2.png?auto=compress%2Cformat);
    background-size: cover

}


