.mainLanding {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

/* .browseHeader{
    height: 275px;
    background-image: url(https://stockx-assets.imgix.net/headers/home_2.png?auto=compress%2Cformat);
    background-size: cover
} */

.browseHeader{
    height:68px;
    width: 100%;
    background-color: black;
}

.browseMainContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.browseSideBarContainer{
    width:200px;
    /* height: 600px; */
    height: 91vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    background: white;
    /* border: solid 1px rgb(168, 166, 166); */
    padding-top: 65px;
    padding-left: 20px;
    
}



.browseSideBarContainer button{
    width:100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    
}

.allProducts {
    margin-bottom: 10px;
    height: 65px;
    width: 150px;
    background: white;
    border: none;
    cursor: pointer;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between

}

.allProducts:active {
	transform: scale(0.90);
}




.browseSort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 100px;
}

.browseSort button:active {
	transform: scale(0.90);
}



.refineResults {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    width: 220px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.sortBy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 290px;
}

.sortBy p {
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12.5px;
   padding-top: 1.8px
}
.sortBy span {
   
    font-family: 'Montserrat', sans-serif;
    font-size: 16.5px;
   
}


.sortBy button {
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
    cursor: pointer;
    background: white;
    border: none;
    font-size: 12px
}

.sortBy button:hover {
    outline: none;
    color: black;
    font-weight: 900;

}
.sortBy button:focus {
    outline: none;
    color: black;
    font-weight: 900;

}


.categoryButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 40px;
    border: solid 1px black
    
}

.categoryButton:active {
	transform: scale(0.90);
}

.categoryButton:focus {
    outline: none
}



.browseProductsContainerRight{
    width: 87%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    padding-top: 10px;
    
}

.rowContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap
}

.browseRowContainer {
    width:100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 40px;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

/* .row{
    width:100px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    border-top: solid 1px grey;  
} */

.browseSort {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 105px;
}


.toggledBrands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 7px
}


.toggledBrands button {
    height: 48px;
    width: 48px;
    background: white;
    color: #666;
    border-color: #f1e8e8;
    margin: 12px 3px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    animation: .65s brand-Zoom;
    cursor: pointer;
}



  @keyframes brand-Zoom {
    0% {
        transform: scale(0);
    } 
    /* 50%{
        transform: scale(.5)
    } */
    100% {
        transform: none;
    }
  }

.toggledBrands button img {
    height: 25px;
    width: 25px
}
.toggledBrands button:focus img {
    height: 35px;
    width: 35px;
}


.toggledBrands button:hover {
    background: rgb(230, 228, 228);
    
}



.toggledBrands button:focus {
    background: rgb(230, 228, 228);
    color: black;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    border: solid 1px grey
    
    /* animation: .6s brandZoom; */
}

  /* @keyframes brandZoom {
    0% {
        transform: scale(.5);
    } 
    50%{
        transform: scale(.5)
    }
    100% {
        transform: none;
    }
  }  */

  .toggledBrands button:active {
	transform: scale(0.90);
}



footer {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    align-items: center;
    justify-content: space-around
}

.footerLinksContainer {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}







