*,
:before,
:after {
  box-sizing: border-box;
}

.shoeTile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    margin:0 30px;

}

.shoeTile img{
    height: 142px;
    width: 200px;
}

.shoepic{
  height: 142px;
  width: 200px;
}

.shoeTile Link{
  height: 250px;
  width: 250px;
}