*,
:before,
:after {
  box-sizing: border-box;
}

.landingShoeTile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    margin:0 30px;
    text-align: center
}

.landingShoeTile img{
    height: 142px;
    width: 200px;
}

.shoepic{
  height: 142px;
  width: 200px;
}

.landingShoeTile Link{
  height: 250px;
  width: 250px;
}

.landingShoeTile a {
  text-decoration: none;
}

.landingShoeTile :nth-child(2) {
  color: black;
  height: 36px;
  width:200px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900
}

.landingShoeTile :nth-child(3){
  font-family: 'Roboto', sans-serif;

  color: black;
  font-size: 20px
}

